<div style="text-align:center">
  <h1>
    {{ title }}
  </h1>
</div>
<div class="container-fluid">
    <div class="row justify-content-center h-100">
        <app-employee-list #activeList [categories]="categories" [isActiveList]="true"></app-employee-list>
        <div class="d-flex flex-column justify-content-center mx-5">
          <button class="btn btn-flat border rounded font-weight-bold my-2" (click)="activeList.toggleAllEmployees()">&gt;&gt;</button>
          <button class="btn btn-flat border rounded font-weight-bold my-2" (click)="activeList.toggleSelectedEmployees()">&gt;</button>
          <button class="btn btn-flat border rounded font-weight-bold my-2" (click)="inactiveList.toggleSelectedEmployees()">&lt;</button>
          <button class="btn btn-flat border rounded font-weight-bold my-2" (click)="inactiveList.toggleAllEmployees()">&lt;&lt;</button>
          
        </div>
        <app-employee-list #inactiveList [categories]="categories" [isActiveList]="false"></app-employee-list>
    </div>
</div>

<router-outlet></router-outlet>
